<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Language Cafe</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="~/Public/images/coffee_cup_rMi_icon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Righteous" rel="stylesheet">
    <link href="~/Public/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/style/style.css" rel="stylesheet" />
</head>

<body>
    <div id="preloader">
        <img class="center" src="~/Public/images/preloader.gif" alt="">
    </div>

    @RenderBody()

    <!-- FOOTER START HERE -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 p-3 text-center contact">
                    <h3>Contact</h3>
                    <div class="center">
                        <p class="mb-2">cafelanguage@gmail.com</p>
                        <p class="mb-2">(+994) 00 123 45 67</p>
                        <div class="d-flex justify-content-center">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 p-3 text-center">
                    <h3 class="mb-3">Address</h3>

                    <address class="center">
                        Baku, Old Town, Kicik Gala str 152
                    </address>
                </div>
                <div class="col-lg-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1074.807272695506!2d49.8333761687723!3d40.36421295324995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dcaf1630815%3A0xe47a8a9f330411!2zxLDDp8mZcmnFn8mZaMmZciBCb29raG91c2UgJiBDYWZl!5e0!3m2!1sen!2s!4v1532343797922"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <p class="copyright text-center py-3">
                &copy Copyright
                <span></span> - Almazzadeh Group
            </p>
        </div>
    </footer>
    <!-- FOOTER END HERE -->
    <!-- SCRIPTS -->
    <script src="~/Public/script/jquery.min.js"></script>
    <script src="~/Public/bootstrap/bootstrap.min.js"></script>
    <script src="~/Public/script/main.js"></script>
</body>

</html>
